body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:yellow;
}
section{
    display: flex;
}
.half-width{
    width: 50px;
    padding: -left: 2%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px;
    border
}
